<div class="container text-center">
    <div class="container-fluid rounded" id="formulario">
        <form action="addSalas" method="POST">
            <div class="form-group">
                <label for="nome">Nome da Sala</label>
                <input required type="text" class="form-control" id="nome" name="nome">
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-dark">Inserir</button>
            </div>
        </form>
    </div>
</div>