<div class="container text-center">
    <div class="container-fluid rounded" id="formulario">
        <form action="addChamado" method="POST">
            <div class="row">
                <div class="form-group col-sm">
                    <label for="nome">Nome</label>
                    <input readonly type="text" class="form-control" name="nome" id="nome"
                        value="IAGO DE ARAÚJO GALVÃO">
                </div>
                <div class="form-group col-sm">
                    <label for="cargo">Cargo</label>
                    <input readonly type="text" class="form-control" name="cargo" id="cargo" value="Professor">
                </div>
            </div>
            <div class="form-group">
                <label for="salas">Sala</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-door-closed"></i></div>
                    </div>
                    <select class="form-control" name="salas" id="salas">
                        {{#each salas}}<option>{{nome}}</option>{{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="problema">Problema:</label>
                <div class="input-group">
                    <textarea required class="form-control" id="problema" name="problema"></textarea>
                </div>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-dark">Inserir Chamado</button>
            </div>
        </form>
    </div>
</div>